.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  background: url(../../img/hero-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 20px 60px;
  @media screen and (max-width: $x-small) {
    background: url(../../img/hero-bg-mobile.jpg) no-repeat top center;
    background-size: cover;
    padding: 20px;
    justify-content: flex-end;
  }

  .hero__content {
    width: 80%;
    padding: 40px;
    text-align: center;
    @media screen and (max-width: $x-small) {
      padding: 70px 0;
      width: 100%;
    }

    .hero__content__title {
      font-size: 0;
      width: 1px;
      height: 1px;
      display: inline-block;
      overflow: hidden;
      position: absolute;
      border: 0;
      padding: 0;
      margin: 0;
    }

    .hero__content__intro {
      color: #fff;
      font-size: 30px;
      letter-spacing: 1px;
      font-weight: 200;
      margin-bottom: 40px;
    }
  }
}
